.block11 {
    height: 100px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blockValue {
    display: inline-block;
    width: 25px;
}
.blockRange {
    width: 400px;
    display: flex;
    justify-content: flex-start;
}
.chooseStep {
    width: 40px;
    margin-right: 20px;
    background-color: #E4AF9D;
}
